---
import Layout from '../../layouts/Layout.astro';
import { CommentForm } from '../../components/comments/CommentForm';

---

<Layout title="Todo">
  <h1>Comment一覧</h1>
  <CommentForm post_id={1} />
  <!-- 
  {result.map((comment) => (
    <div>
      <p>{comment.id}</p>
      <p>{comment.comment}</p>
    </div>
  ))} -->
</Layout>