---
export const prerender = false

import Layout from '../../layouts/Layout.astro';
import { CommentForm } from '../../components/comments/CommentForm';
import type { GetCommentsType } from '../api/comments/[post_id].json';

const post_id= 1 

const protocol = Astro.url.protocol
const host = Astro.url.host

const result = await fetch(`${protocol}//${host}/api/comments/${post_id}.json?page=1`)
const initialData = await result.json() as GetCommentsType

---

<Layout title="Todo">
  <h1>Comment一覧</h1>
  <CommentForm post_id={1} initialData={initialData} />
</Layout>